@import url('https://fonts.googleapis.com/css2?family=Anek+Malayalam:wght@600;800&family=Source+Sans+Pro:wght@300&family=Spline+Sans+Mono:wght@700&display=swap');

header{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        background-color: rgb(243, 239, 238);
        
}
img{
        width: 3%;
        margin: 6px;
}
a{
        padding: 10px;
        margin: 2px;
        text-decoration: none;
        color: black;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        border: 1px solid #bbb;
        border-radius: 10px;
}
a:hover{
    background-color:rgba(34, 36, 35, 0.692);
    color: white;
}
.title{
        text-align: center;
        margin-top: 2%;
        font-family: 'Spline Sans Mono', monospace;
        color: #2B93EC;
}
.containerCounter{
        text-align: center;
        padding: 5px;
}
.addCart{
        text-align: center;
        padding: 10px;
        height: 10px;
}
.inputCounter{
        height: 30px;
        width: 30px;
        text-align: center;
        
}
button{
        margin: 5px;
        height: 40px;
        border: 0.5px solid #bbb;
        border-radius: 10px;
        background-color: aqua;
}
button:hover{
        background-color: rgb(2, 204, 204);
}
.containerList{
        display: flex;
        flex-direction: row;
}
.card {
        /* Add shadows to create the "card" effect */
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
        width: 100%;
}
      
.card:hover {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.containerPaleta {
        padding: 30px 16px;
}
.imagePaleta{
        width: 97%;
}

.cardProduct{
        display: flex;
        flex-direction: row;
        margin-top: 30px;
        padding: 20px;
        
}
.cardProduct:hover {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
        filter: grayscale(70%);
}
      
h3{
        text-align: center;
}
h4{
        text-align: center;
}
.description{
        text-align: center;
        font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: 17px;
        padding: 10px;
}
.price{
        margin-left: 10px;
        font-family: 'Spline Sans Mono', monospace;
}
.loading{
        display: flex;
        flex-direction: column;
        align-items:center;
        padding: 10%;

}